<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<form th:method="POST"
      th:action="@{/users}"
      th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" id="name" th:field="*{name}">
    <br>
    <label for="age">Enter age: </label>
    <input type="text" id="age" th:field="*{age}">
    <br>
    <label for="password">Enter password: </label>
    <input type="text" id="password" th:field="*{password}">
    <br>
    <input type="submit" id="submit" value="Add user">
</form>
</body>
</html>