<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Investment return calculator</title>
    <h1>Investment return calculator</h1>
</head>
<body>
    <form method="post" action="/finance">
        <div><p>Amount at the time of opening <input class="form1" type="text" name="sum"/></p></div>
        <div><p>Interest rate <input class="form2" type="text" name="percentage"/></p></div>
        <div><p>Number of years <input class="form3" type="text" name="years"/></p></div>
        <div><button>Calculate</button></div>
    </form>
</body>
</html>